# Q1

In [7]:
l=[2,3,6]
r=1
for i in l:
    r=r*i
print(r)

36

# Q2

In [9]:
l=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
l.sort (key=lambda x:x[-1])
print (l)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]


# Q3

In [12]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d={}

for k in d1.keys ():
    d[k]=d1[k]+d2.get(k,0)
for k in d2.keys ():
    d[k]=d2[k]+d1.get(k,0)
    
print (d)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

# Q4

In [13]:
m=int(input())
d={}
for i in range (1,m+1):
    d[i]=i*i
print (d)

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

# Q5

In [16]:
l=[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
l.sort (key=lambda x:x[-1], reverse=True)
print (l)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]